#filter_users{
    width:100%;
    padding:10px;
  }
  
  #users-list{
    margin:0;
    padding:0;
  }
  
  #users-list li{
    list-style:none;
    padding:10px;
    margin:5px 0;
    border: 1px solid #e4e4e4;
  }